@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans);
/* CSS Document */ 
/*root stylesheet*/

body {
	background-color: white;
	cursor:default;
	font-family: "Open Sans";
    min-width:1200px;
}

select {
    border: none;
    border-radius: 4px;
    background-color: black;
    font-size: 16px;
}

input {
    border: 2px solid #719CAA;
    font-size:14  px;
    border-radius: 2px;
    width: 300px;
}

div.image_tooltip {   
    position: absolute;
    left: 915px;
    top: 80px;
    text-align: center;         
    width: 270px; 
    height: 500px;                   
    font: 12px sans-serif;  
    color: black;  
    background: #719CAA; 
    border: 2px solid gray;        
    border-radius: 8px;         
}

div.minitext {  
    margin: 15px auto; 
    padding: 10px;
    position: relative;
    color: white;
    font-size: 12px;
}

div.minipic_div {  
    margin: auto; 
    height: 250px;
    width: 250px;
    position: relative;
}

div.minipic_div img {  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 30;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

#mini_xbox {
    position: absolute;
    left: 235px;
    top: 10px;
    width: 25px;
    height: 25px;
    display: none;
}

#mini_xbox:hover {
    opacity: 0.5;
}

.header {
  padding: 1px;
  width: 100%;
  text-align: center;
  background: #719CAA;
  color: white;
  letter-spacing: 20px;
  font-size: 120px;
}

.intro {
  position: relative;
  margin: 20px auto;
  width: 100%;
  text-align: center;
}

#div_container {
    position: relative;
    margin: 0px auto;
    width: 1200px;
    height: 750px;
    text-align: center;
}

#svg_div {
  position: absolute;
  left: 295px;
  top: 30px;
  width: 600px;
  height: 600px;
  margin: 0px auto;
}

#option_box {
  position:absolute;
  top:660px;
  left: 265px;
  width: 650px;
}

.gradient_legend {
  width: 20px;
  height: 100px;
}

.stop-top {
  stop-color: #3f51b5;
}

.stop-bottom {
  stop-color: #009688;
}

.filled {
  fill: url(#main_gradient);
}

#search_by_name {
    position: relative;
    left: 0px;
    top: 8px;
    margin-bottom: 15px;
}

.scatter_border {
  fill: none;
  stroke: #ccc;
}

.radio_title {
  position: relative;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-left: 20px;
  text-decoration: underline;
  font-size: 15px;
  width: 100px;
}

.y_axis_div {
  position: absolute;
  left: 20px;
  top: 75px;
  width: 100px;
  text-align: left;
}

.x_axis_div {
  position: absolute;
  left: 170px;
  top: 75px;
  width: 100px;
  text-align: left;
}

.axis_label_div {
  display: inline-block;
  background-color: aqua;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 2px;
  padding-top: 2px;
  position: relative;
  margin: 0px auto;
}
.axis_label_div:hover {
  background-color: chartreuse;
}



#x_axis_label_container {
  position: absolute;
  width: 100%;
  top: 595px;
}

#y_axis_label_container {
  position: absolute;
  width: 100%;
  top: 290px;
  transform: translateX(-52%) rotate(-90deg);
}

.color_div {
  position: absolute;
  left: 320px;
  top: 75px;
  width: 100px;
  text-align: left;
}

#color_legend {
  position: absolute;
  left: 70px;
  top: 150px;
  width: 190px;
  height: 250;
  font-size: 12px;
}

#transform_switch {
  position: relative;
  display: block;
  margin: 0px auto;
  width: 250px;
  top: 5px;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  color: white;
}

#transformed {
  position: absolute;
  left: 0px;
  top: 2.5px;
  width: 125px;
  z-index: 1;
  pointer-events: none;
}

#untransformed {
  position: absolute;
  top: 2.5px;
  left: 125px;
  width: 125px;
  z-index: 1;
  pointer-events: none;
} 

.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  stroke-width: 0.5px;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
    fill: #000000;
}


/* The switch - the box around the slider */
.switch {
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C0C0C0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 122px;
  left: 0px;
  bottom: 0px;
  background: #719CAA; 
  border: 2px solid gray;
  -webkit-transition: .15s;
  transition: .15s;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(125px);
  -ms-transform: translateX(125px);
  transform: translateX(125px);
}

.radio {
  text-align: left;
  font-size: 12px;
  position: relative;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
}

.radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.button_indicator {
  position: absolute;
  top: 2px;
  left: 6px;
  width: 15px;
  height: 15px;
  background: #ccc;
}

.radio_button .button_indicator {
  border-radius: 50%;
}

/* Hover and focus states */
.radio:hover input ~ .button_indicator,
.radio input:focus ~ .button_indicator {
  background: #C0c0c0;
}

/* Checked state */
.radio input:checked ~ .button_indicator {
  background: #719CAA;
}

/* Disabled state */
.radio input:disabled ~ .button_indicator {
  pointer-events: none;
  opacity: .6;
  background: #e6e6e6;
}

/* Check mark */
.button_indicator:after {
  position: absolute;
  display: none;
  content: '';
}

/* Show check mark */
.radio input:checked ~ .button_indicator:after {
  display: block;
}

/* Disabled circle colour */
.radio_button input:disabled ~ .button_indicator:after {
  background: #7b7b7b;
}
#input_search {
  width: 200px;
}

#bottom_credits {
  width:100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

#color_by_dropdown {
  position: relative;
  margin: 10px;
}

.custom-select {
  text-align-last: center;
  background: #719CAA; 
  border: 2px solid gray;
  border-radius: 15px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 2px;
  padding-top: 2px;
  -webkit-appearance: none;
  color: white;
}

.custom-select:hover {
  background-color: #CCC;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select:focus {
  outline: none;
  box-shadow: 0px 0px 6px #CCC;
}

#all-content {
  min-width:1200px;
}
